USE [master]
GO
/****** Object:  Database [QLCH_VLXD_2]    Script Date: 5/31/2026 6:51:52 PM ******/
CREATE DATABASE [QLCH_VLXD_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCH_VLXD_2', FILENAME = N'D:\thanhtuan\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLCH_VLXD_2.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCH_VLXD_2_log', FILENAME = N'D:\thanhtuan\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLCH_VLXD_2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCH_VLXD_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCH_VLXD_2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/31/2026 6:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANNER]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANNER](
	[MaBanner] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NULL,
	[Desc] [nvarchar](max) NULL,
	[Src] [nvarchar](max) NULL,
	[Bg] [nvarchar](100) NULL,
	[Panel] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[OrderIndex] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBanner] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Subject] [nvarchar](500) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ReplyMessage] [nvarchar](max) NULL,
	[RepliedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGNO]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGNO](
	[MaCongNo] [int] IDENTITY(1,1) NOT NULL,
	[MaCN]  AS ('CN'+right('000'+CONVERT([varchar](10),[MaCongNo]),(3))) PERSISTED,
	[SoTienNo] [decimal](18, 2) NOT NULL,
	[SoTienDaTra] [decimal](18, 2) NULL,
	[SoTienConLai] [decimal](18, 2) NULL,
	[HanThanhToan] [datetime2](7) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[LoaiCongNo] [nvarchar](50) NULL,
	[MaKhachHang] [int] NULL,
	[MaHoaDon] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[MaNhaCungCap] [int] NULL,
	[MaPhieuNhap] [int] NULL,
	[NgayNhacNoEmail] [datetime2](7) NULL,
	[LaiPhat] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCongNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUTRAHANG_NCC]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUTRAHANG_NCC](
	[MaCTPT] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuTra] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuongTra] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTKHOHANG]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTKHOHANG](
	[MaCTKho] [int] IDENTITY(1,1) NOT NULL,
	[MaKhoHang] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[SoLuongNhap] [int] NULL,
	[SoLuongTon] [int] NULL,
	[ViTri] [nvarchar](100) NULL,
	[NgayNhapCuoi] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaKhoHang] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MaCTPN] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuNhap] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NULL,
	[SoLuongDaNhan] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayTao] [datetime2](7) NULL,
	[MaKhoHang] [int] NULL,
	[MaNhaCungCap] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaPhieuGoc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUDOITRA]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUDOITRA](
	[MaCTDT] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuDT] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NULL,
	[NgayTao] [datetime2](7) NULL,
	[Loai] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUGIAOHANG]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUGIAOHANG](
	[MaCTGH] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuGH] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuongGiao] [int] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime2](7) NULL,
	[MaCTHD] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUXUATKHO]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUXUATKHO](
	[MaCTXK] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuXK] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[MaKho] [int] NULL,
	[DonGiaVon] [decimal](18, 0) NULL,
	[SoLuongThucNhan] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTXK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[GiamGia] [decimal](18, 2) NULL,
	[ThanhTien] [decimal](18, 2) NULL,
	[NgayTao] [datetime2](7) NULL,
	[DiaChiGiaoHang] [nvarchar](max) NULL,
	[TenNguoiNhan] [nvarchar](max) NULL,
	[SdtNguoiNhan] [nvarchar](max) NULL,
	[SoLuongDaGiao] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [nvarchar](255) NOT NULL,
	[SenderRole] [nvarchar](50) NOT NULL,
	[StaffId] [int] NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITETTRANO]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITETTRANO](
	[MaChiTietTN] [int] IDENTITY(1,1) NOT NULL,
	[MaTT]  AS ('TT'+right('000'+CONVERT([varchar](10),[MaChiTietTN]),(3))) PERSISTED,
	[NgayTT] [datetime2](7) NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[PTTT] [nvarchar](100) NULL,
	[SoGiaoDich] [nvarchar](100) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaHoaDon] [int] NULL,
	[MaCongNo] [int] NOT NULL,
	[MaNhanVien] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime2](7) NULL,
	[MaPhieuNhap] [int] NULL,
	[AnhBangChung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_KHUYENMAI]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_KHUYENMAI](
	[MaCTKM] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [int] NOT NULL,
	[MaKhuyenMai] [int] NOT NULL,
	[SoTienGiam] [decimal](18, 2) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_CHITIET_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MaCTKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaHoaDon] [int] NULL,
	[SoSao] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[Video] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaHD]  AS ('HD'+right('000'+CONVERT([varchar](10),[MaHoaDon]),(3))) PERSISTED,
	[NgayLap] [datetime2](7) NULL,
	[NgayGiao] [datetime2](7) NULL,
	[TongTien] [decimal](18, 2) NULL,
	[GiamGia] [decimal](18, 2) NULL,
	[ThanhToan] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[PTTT] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[MaNhanVien] [int] NULL,
	[MaKhachHang] [int] NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[TenNguoiNhan] [nvarchar](250) NULL,
	[SdtNguoiNhan] [varchar](100) NULL,
	[EmailNguoiNhan] [varchar](250) NULL,
	[DiaChiGiaoHang] [nvarchar](1000) NULL,
	[YeuCauVat] [bit] NOT NULL,
	[VatType] [varchar](50) NULL,
	[VatBuyerName] [nvarchar](255) NULL,
	[VatEmail] [varchar](255) NULL,
	[VatAddress] [nvarchar](1000) NULL,
	[VatIdCard] [varchar](50) NULL,
	[VatPassport] [varchar](50) NULL,
	[VatCompanyName] [nvarchar](500) NULL,
	[VatCompanyAddress] [nvarchar](1000) NULL,
	[VatTaxId] [varchar](50) NULL,
	[VatBudgetCode] [varchar](100) NULL,
	[PhiVanChuyen] [decimal](18, 2) NOT NULL,
	[AnhBangChung] [nvarchar](max) NULL,
	[SoTienPhaiThu] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[MaKH]  AS ('KH'+right('000'+CONVERT([varchar](10),[MaKhachHang]),(3))) PERSISTED,
	[TenKH] [nvarchar](200) NOT NULL,
	[Sdt] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[LoaiKH] [nvarchar](50) NULL,
	[MaSoThue] [nvarchar](50) NULL,
	[NguoiLienHe] [nvarchar](200) NULL,
	[AnhDaiDien] [nvarchar](max) NULL,
	[GioiTinh] [nvarchar](max) NULL,
	[CCCD] [nvarchar](max) NULL,
	[NgaySinh] [datetime2](7) NULL,
	[HangThanhVien] [nvarchar](20) NOT NULL,
	[TongChiTieu] [decimal](18, 2) NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOHANG]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOHANG](
	[MaKhoHang] [int] IDENTITY(1,1) NOT NULL,
	[MaKho]  AS ('KHO'+right('00'+CONVERT([varchar](10),[MaKhoHang]),(2))) PERSISTED,
	[TenKho] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](500) NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[LoaiKho] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MaKhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[MaKM]  AS ('KM'+right('000'+CONVERT([varchar](10),[MaKhuyenMai]),(3))) PERSISTED,
	[LoaiKM] [nvarchar](50) NOT NULL,
	[TenKM] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](1000) NULL,
	[MaApDung] [nvarchar](50) NULL,
	[LoaiGiamGia] [nvarchar](20) NOT NULL,
	[GiaTriGiam] [decimal](18, 2) NOT NULL,
	[GiamToiDa] [decimal](18, 2) NULL,
	[DonHangToiThieu] [decimal](18, 2) NULL,
	[ThoiGianBatDau] [datetime2](7) NOT NULL,
	[ThoiGianKetThuc] [datetime2](7) NOT NULL,
	[SoLuongToiDa] [int] NULL,
	[SoLuongDaDung] [int] NULL,
	[HangThanhVien] [nvarchar](20) NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI_DOITUONG]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI_DOITUONG](
	[MaKMDT] [int] IDENTITY(1,1) NOT NULL,
	[MaKhuyenMai] [int] NOT NULL,
	[MaSanPham] [int] NULL,
	[MaLoaiSP] [int] NULL,
	[GiaKhuyenMai] [decimal](18, 2) NULL,
	[SoLuongKhuyenMai] [int] NULL,
	[SoLuongDaBan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKMDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHHENTRANO]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHHENTRANO](
	[MaHen] [int] IDENTITY(1,1) NOT NULL,
	[MaCongNo] [int] NOT NULL,
	[NgayHen] [datetime2](7) NOT NULL,
	[SoTienDuKien] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUGIA]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUGIA](
	[MaLSG] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[GiaBanCu] [decimal](18, 2) NULL,
	[GiaBanMoi] [decimal](18, 2) NOT NULL,
	[GiaNhapCu] [decimal](18, 2) NULL,
	[GiaNhapMoi] [decimal](18, 2) NULL,
	[LyDo] [nvarchar](500) NULL,
	[NguonThayDoi] [nvarchar](100) NULL,
	[NgayThayDoi] [datetime] NOT NULL,
	[MaNhanVien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLSG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUGIAOHANG]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUGIAOHANG](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuGH] [int] NOT NULL,
	[TrangThaiCu] [nvarchar](50) NULL,
	[TrangThaiMoi] [nvarchar](50) NULL,
	[NoiDungThayDoi] [nvarchar](max) NULL,
	[HinhAnhXacNhan] [nvarchar](max) NULL,
	[MaNguoiThucHien] [int] NULL,
	[ViTriCapNhat] [nvarchar](500) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUHOADON]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUHOADON](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [int] NOT NULL,
	[TrangThaiCu] [nvarchar](100) NULL,
	[TrangThaiMoi] [nvarchar](100) NULL,
	[NoiDungThayDoi] [nvarchar](max) NULL,
	[MaNguoiThucHien] [int] NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LICHSUHOADON] PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUPHIEUNHAP]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUPHIEUNHAP](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuNhap] [int] NOT NULL,
	[TrangThaiCu] [nvarchar](50) NULL,
	[TrangThaiMoi] [nvarchar](50) NULL,
	[NoiDungThayDoi] [nvarchar](max) NULL,
	[NgayThayDoi] [datetime] NULL,
	[MaNguoiThucHien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUPHIEUXUATKHO]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUPHIEUXUATKHO](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuXK] [int] NOT NULL,
	[TrangThaiCu] [nvarchar](50) NULL,
	[TrangThaiMoi] [nvarchar](50) NULL,
	[NoiDungThayDoi] [nvarchar](max) NULL,
	[MaNguoiThucHien] [int] NULL,
	[NgayTao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUTHANGHANG]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUTHANGHANG](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[HangCu] [nvarchar](20) NULL,
	[HangMoi] [nvarchar](20) NULL,
	[TongChiTieuHienTai] [decimal](18, 2) NULL,
	[LyDo] [nvarchar](max) NULL,
	[NgayThayDoi] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MaLoaiSP] [int] IDENTITY(1,1) NOT NULL,
	[MaLoai]  AS ('LSP'+right('00'+CONVERT([varchar](10),[MaLoaiSP]),(2))) PERSISTED,
	[TenLoai] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNhaCungCap] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC]  AS ('NCC'+right('000'+CONVERT([varchar](10),[MaNhaCungCap]),(3))) PERSISTED,
	[TenNCC] [nvarchar](200) NOT NULL,
	[NguoiLienHe] [nvarchar](200) NULL,
	[Sdt] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[ThanhPho] [nvarchar](100) NULL,
	[MaSoThue] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP_SANPHAM]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP_SANPHAM](
	[MaNCCSP] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[GiaCungCap] [decimal](18, 2) NOT NULL,
	[NgayCapNhat] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCCSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[MaNV]  AS ('NV'+right('000'+CONVERT([varchar](10),[MaNhanVien]),(3))) PERSISTED,
	[TenNV] [nvarchar](200) NOT NULL,
	[Sdt] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[MaTaiKhoan] [int] NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[SucChuaToiDa] [nvarchar](max) NULL,
	[ChuKy] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NhanVien_MaTaiKhoan] UNIQUE NONCLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN_MODULE_QUYEN]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN_MODULE_QUYEN](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[Module] [nvarchar](50) NOT NULL,
	[TenModule] [nvarchar](100) NOT NULL,
	[CoTheXem] [bit] NOT NULL,
	[CoTheTao] [bit] NOT NULL,
	[CoTheSua] [bit] NOT NULL,
	[CoTheXoa] [bit] NOT NULL,
	[NgayCapNhat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHATKY]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHATKY](
	[MaNhatKy] [int] IDENTITY(1,1) NOT NULL,
	[MaTaiKhoan] [int] NOT NULL,
	[HanhDong] [nvarchar](200) NOT NULL,
	[TenBang] [nvarchar](100) NULL,
	[MaBanGhi] [int] NULL,
	[GiaTriCu] [nvarchar](max) NULL,
	[GiaTriMoi] [nvarchar](max) NULL,
	[ThoiGian] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhatKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MaPhanQuyen] [int] IDENTITY(1,1) NOT NULL,
	[MaVaiTro] [int] NOT NULL,
	[MaQuyen] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaVaiTro] ASC,
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDOITRA]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDOITRA](
	[MaPhieuDT] [int] IDENTITY(1,1) NOT NULL,
	[MaDT]  AS ('DT'+right('000'+CONVERT([varchar](10),[MaPhieuDT]),(3))) PERSISTED,
	[NgayDT] [datetime2](7) NULL,
	[TongTienHoan] [decimal](18, 2) NULL,
	[LyDo] [nvarchar](500) NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaHoaDon] [int] NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[HinhAnhMinhChung] [nvarchar](max) NULL,
	[TrangThaiNhapKho] [nvarchar](50) NULL,
	[Loai] [nvarchar](50) NULL,
	[LoiDo] [nvarchar](100) NULL,
	[PhiVanChuyenMoi] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUGIAOHANG]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUGIAOHANG](
	[MaPhieuGH] [int] IDENTITY(1,1) NOT NULL,
	[MaGH]  AS ('GH'+right('000'+CONVERT([varchar](10),[MaPhieuGH]),(3))) PERSISTED,
	[NguoiGiao] [nvarchar](200) NULL,
	[NgayGiao] [datetime2](7) NULL,
	[NgayGiaoDuKien] [datetime2](7) NULL,
	[NgayGiaoThucTe] [datetime2](7) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[MaHoaDon] [int] NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[SoTienThu] [decimal](18, 2) NULL,
	[ViTriHienTai] [nvarchar](500) NULL,
	[Lat] [decimal](18, 10) NULL,
	[Lng] [decimal](18, 10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MaPhieuNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaPN]  AS ('PN'+right('000'+CONVERT([varchar](10),[MaPhieuNhap]),(3))) PERSISTED,
	[NgayNhap] [datetime2](7) NULL,
	[NgayGiaoHang] [datetime2](7) NULL,
	[TongTien] [decimal](18, 2) NULL,
	[ThanhToan] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[MaNhaCungCap] [int] NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTRAHANG_NCC]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRAHANG_NCC](
	[MaPhieuTra] [int] IDENTITY(1,1) NOT NULL,
	[MaPT]  AS ('PT'+right('000'+CONVERT([varchar](10),[MaPhieuTra]),(3))) PERSISTED,
	[MaPhieuNhap] [int] NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[NgayTra] [datetime] NULL,
	[TongTienHoan] [decimal](18, 2) NULL,
	[LyDo] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](100) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUATKHO]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUATKHO](
	[MaPhieuXK] [int] IDENTITY(1,1) NOT NULL,
	[MaXK]  AS ('PXK'+right('000000'+CONVERT([varchar],[MaPhieuXK]),(6))),
	[NgayXuat] [datetime] NOT NULL,
	[NguoiXuat] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaPhieuGH] [int] NULL,
	[MaHoaDon] [int] NULL,
	[MaNhanVien] [int] NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDuyet] [int] NULL,
	[NgayDuyet] [datetime] NULL,
	[ChuKyNguoiLap] [nvarchar](max) NULL,
	[ChuKyQuanLy] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaNguoiXuatKho] [int] NULL,
	[ChuKyNguoiXuatKho] [nvarchar](max) NULL,
	[MaNguoiNhan] [int] NULL,
	[ChuKyNguoiNhan] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuXK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[MaQ]  AS ('Q'+right('00'+CONVERT([varchar](10),[MaQuyen]),(2))) PERSISTED,
	[TenQ] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[NgayTao] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[MaSP]  AS ('SP'+right('000'+CONVERT([varchar](10),[MaSanPham]),(3))) PERSISTED,
	[TenSP] [nvarchar](300) NOT NULL,
	[MoTa] [nvarchar](1000) NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[GiaNhap] [decimal](18, 2) NULL,
	[MucTonToiThieu] [int] NULL,
	[ThuongHieu] [nvarchar](200) NULL,
	[XuatXu] [nvarchar](200) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[AnhPhu] [nvarchar](max) NULL,
	[MaLoaiSP] [int] NOT NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[TrongLuong] [decimal](18, 2) NULL,
	[DonViTrongLuong] [nvarchar](50) NULL,
	[KichThuoc] [nvarchar](max) NULL,
	[IsGift] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[MaTK]  AS ('TK'+right('000'+CONVERT([varchar](10),[MaTaiKhoan]),(3))) PERSISTED,
	[TenTK] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MaVaiTro] [int] NOT NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[DangNhapCuoi] [datetime2](7) NULL,
	[ResetOTP] [nvarchar](10) NULL,
	[OTPExpiry] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEAM_MEMBER]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEAM_MEMBER](
	[MaThanhVien] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[StudentId] [nvarchar](100) NULL,
	[Role] [nvarchar](200) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Bg] [nvarchar](100) NULL,
	[OrderIndex] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGBAO]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAO](
	[MaThongBao] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime] NULL,
	[LoaiThongBao] [nvarchar](50) NULL,
	[MaNguoiNhan] [nvarchar](50) NULL,
	[DaDoc] [bit] NULL,
	[LienKet] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[MaVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[MaVT]  AS ('VT'+right('00'+CONVERT([varchar](10),[MaVaiTro]),(2))) PERSISTED,
	[TenVT] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAITRO_MODULE_QUYEN]    Script Date: 5/31/2026 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO_MODULE_QUYEN](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaVaiTro] [int] NOT NULL,
	[Module] [nvarchar](100) NOT NULL,
	[TenModule] [nvarchar](100) NOT NULL,
	[CoTheXem] [bit] NOT NULL,
	[CoTheTao] [bit] NOT NULL,
	[CoTheSua] [bit] NOT NULL,
	[CoTheXoa] [bit] NOT NULL,
	[NgayCapNhat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CONGNO_KH]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_CONGNO_KH] ON [dbo].[CONGNO]
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CTKHOHANG_Kho]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTKHOHANG_Kho] ON [dbo].[CTKHOHANG]
(
	[MaKhoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CTKHOHANG_MaSanPham_MaKhoHang]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTKHOHANG_MaSanPham_MaKhoHang] ON [dbo].[CTKHOHANG]
(
	[MaSanPham] ASC,
	[MaKhoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CTKHOHANG_SP]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTKHOHANG_SP] ON [dbo].[CTKHOHANG]
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CTPHIEUGIAOHANG_MaCTHD]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTPHIEUGIAOHANG_MaCTHD] ON [dbo].[CTPHIEUGIAOHANG]
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HOADON_KH]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_HOADON_KH] ON [dbo].[HOADON]
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HOADON_NV]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_HOADON_NV] ON [dbo].[HOADON]
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HOADON_TT]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_HOADON_TT] ON [dbo].[HOADON]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HOADON_TrangThai]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_HOADON_TrangThai] ON [dbo].[HOADON]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_KHACHHANG_MaTaiKhoan]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_KHACHHANG_MaTaiKhoan] ON [dbo].[KHACHHANG]
(
	[MaTaiKhoan] ASC
)
WHERE ([MaTaiKhoan] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KHUYENMAI_TrangThai_Dates]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_KHUYENMAI_TrangThai_Dates] ON [dbo].[KHUYENMAI]
(
	[TrangThai] ASC,
	[ThoiGianBatDau] ASC,
	[ThoiGianKetThuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UIX_MaApDung_Not_Null]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIX_MaApDung_Not_Null] ON [dbo].[KHUYENMAI]
(
	[MaApDung] ASC
)
WHERE ([MaApDung] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NHATKY_TK]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_NHATKY_TK] ON [dbo].[NHATKY]
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PHIEUGH_TT]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_PHIEUGH_TT] ON [dbo].[PHIEUGIAOHANG]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PHIEUNHAP_NCC]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_PHIEUNHAP_NCC] ON [dbo].[PHIEUNHAP]
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PHIEUNHAP_TT]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_PHIEUNHAP_TT] ON [dbo].[PHIEUNHAP]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PHIEUNHAP_TrangThai]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_PHIEUNHAP_TrangThai] ON [dbo].[PHIEUNHAP]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SANPHAM_LoaiSP]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_SANPHAM_LoaiSP] ON [dbo].[SANPHAM]
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SANPHAM_TrangThai_IsGift]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_SANPHAM_TrangThai_IsGift] ON [dbo].[SANPHAM]
(
	[TrangThai] ASC,
	[IsGift] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TAIKHOAN_VaiTro]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_TAIKHOAN_VaiTro] ON [dbo].[TAIKHOAN]
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_THONGBAO_NguoiNhan]    Script Date: 5/31/2026 6:51:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_THONGBAO_NguoiNhan] ON [dbo].[THONGBAO]
(
	[MaNguoiNhan] ASC,
	[NgayTao] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANNER] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BANNER] ADD  DEFAULT ((0)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[CONGNO] ADD  DEFAULT ((0)) FOR [SoTienDaTra]
GO
ALTER TABLE [dbo].[CONGNO] ADD  DEFAULT (N'Chưa thanh toán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[CONGNO] ADD  DEFAULT (N'Phải thu') FOR [LoaiCongNo]
GO
ALTER TABLE [dbo].[CONGNO] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CONGNO] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[CONGNO] ADD  DEFAULT ((0)) FOR [LaiPhat]
GO
ALTER TABLE [dbo].[CTKHOHANG] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[CTKHOHANG] ADD  DEFAULT ((0)) FOR [SoLuongNhap]
GO
ALTER TABLE [dbo].[CTKHOHANG] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[CTKHOHANG] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[CTPN] ADD  DEFAULT ((0)) FOR [SoLuongDaNhan]
GO
ALTER TABLE [dbo].[CTPN] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CTPHIEUDOITRA] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CTPHIEUGIAOHANG] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CTPHIEUGIAOHANG] ADD  DEFAULT (N'Đang giao') FOR [TrangThai]
GO
ALTER TABLE [dbo].[CTPHIEUXUATKHO] ADD  DEFAULT ((0)) FOR [DonGiaVon]
GO
ALTER TABLE [dbo].[CTHD] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[CTHD] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CTHD] ADD  DEFAULT ((0)) FOR [SoLuongDaGiao]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[CHITETTRANO] ADD  DEFAULT (getdate()) FOR [NgayTT]
GO
ALTER TABLE [dbo].[CHITETTRANO] ADD  DEFAULT (N'Chờ xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[CHITETTRANO] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CHITIET_KHUYENMAI] ADD  DEFAULT ((0)) FOR [SoTienGiam]
GO
ALTER TABLE [dbo].[CHITIET_KHUYENMAI] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DANHGIA] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DANHGIA] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (N'Chờ xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [YeuCauVat]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [PhiVanChuyen]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [SoTienPhaiThu]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (N'Đồng') FOR [HangThanhVien]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((0)) FOR [TongChiTieu]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[KHOHANG] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[KHOHANG] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KHOHANG] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT ((0)) FOR [GiaTriGiam]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT ((0)) FOR [DonHangToiThieu]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT ((0)) FOR [SoLuongDaDung]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[KHUYENMAI_DOITUONG] ADD  DEFAULT ((0)) FOR [SoLuongDaBan]
GO
ALTER TABLE [dbo].[LICHHENTRANO] ADD  DEFAULT (N'Chưa hoàn thành') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LICHHENTRANO] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LICHSUGIA] ADD  DEFAULT (getdate()) FOR [NgayThayDoi]
GO
ALTER TABLE [dbo].[LICHSUGIAOHANG] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LICHSUPHIEUNHAP] ADD  DEFAULT (getdate()) FOR [NgayThayDoi]
GO
ALTER TABLE [dbo].[LICHSUPHIEUXUATKHO] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LICHSUTHANGHANG] ADD  DEFAULT (getdate()) FOR [NgayThayDoi]
GO
ALTER TABLE [dbo].[LOAISANPHAM] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LOAISANPHAM] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[NHACUNGCAP_SANPHAM] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[NHANVIEN_MODULE_QUYEN] ADD  DEFAULT ((0)) FOR [CoTheXem]
GO
ALTER TABLE [dbo].[NHANVIEN_MODULE_QUYEN] ADD  DEFAULT ((0)) FOR [CoTheTao]
GO
ALTER TABLE [dbo].[NHANVIEN_MODULE_QUYEN] ADD  DEFAULT ((0)) FOR [CoTheSua]
GO
ALTER TABLE [dbo].[NHANVIEN_MODULE_QUYEN] ADD  DEFAULT ((0)) FOR [CoTheXoa]
GO
ALTER TABLE [dbo].[NHANVIEN_MODULE_QUYEN] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[NHATKY] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[PHIEUDOITRA] ADD  DEFAULT (getdate()) FOR [NgayDT]
GO
ALTER TABLE [dbo].[PHIEUDOITRA] ADD  DEFAULT (N'Chờ duyệt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PHIEUDOITRA] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PHIEUDOITRA] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[PHIEUDOITRA] ADD  DEFAULT (N'ChÆ°a nháº­p kho') FOR [TrangThaiNhapKho]
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG] ADD  DEFAULT (getdate()) FOR [NgayGiao]
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG] ADD  DEFAULT (N'Chờ giao') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  DEFAULT (N'Chờ xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[PHIEUTRAHANG_NCC] ADD  DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[PHIEUTRAHANG_NCC] ADD  DEFAULT ((0)) FOR [TongTienHoan]
GO
ALTER TABLE [dbo].[PHIEUTRAHANG_NCC] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PHIEUTRAHANG_NCC] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[PHIEUXUATKHO] ADD  DEFAULT (getdate()) FOR [NgayXuat]
GO
ALTER TABLE [dbo].[PHIEUXUATKHO] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PHIEUXUATKHO] ADD  DEFAULT (N'Chờ duyệt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[QUYEN] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((10)) FOR [MucTonToiThieu]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ('kg') FOR [DonViTrongLuong]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [IsGift]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[TEAM_MEMBER] ADD  DEFAULT ((0)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[THONGBAO] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[THONGBAO] ADD  DEFAULT ((0)) FOR [DaDoc]
GO
ALTER TABLE [dbo].[VAITRO] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[VAITRO] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[VAITRO_MODULE_QUYEN] ADD  DEFAULT ((0)) FOR [CoTheXem]
GO
ALTER TABLE [dbo].[VAITRO_MODULE_QUYEN] ADD  DEFAULT ((0)) FOR [CoTheTao]
GO
ALTER TABLE [dbo].[VAITRO_MODULE_QUYEN] ADD  DEFAULT ((0)) FOR [CoTheSua]
GO
ALTER TABLE [dbo].[VAITRO_MODULE_QUYEN] ADD  DEFAULT ((0)) FOR [CoTheXoa]
GO
ALTER TABLE [dbo].[VAITRO_MODULE_QUYEN] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[CONGNO]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[CONGNO]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[CT_PHIEUTRAHANG_NCC]  WITH CHECK ADD FOREIGN KEY([MaPhieuTra])
REFERENCES [dbo].[PHIEUTRAHANG_NCC] ([MaPhieuTra])
GO
ALTER TABLE [dbo].[CT_PHIEUTRAHANG_NCC]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CTKHOHANG]  WITH CHECK ADD FOREIGN KEY([MaKhoHang])
REFERENCES [dbo].[KHOHANG] ([MaKhoHang])
GO
ALTER TABLE [dbo].[CTKHOHANG]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PHIEUNHAP] ([MaPhieuNhap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_KHOHANG] FOREIGN KEY([MaKhoHang])
REFERENCES [dbo].[KHOHANG] ([MaKhoHang])
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_KHOHANG]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_NHACUNGCAP_MaNhaCungCap] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NHACUNGCAP] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_NHACUNGCAP_MaNhaCungCap]
GO
ALTER TABLE [dbo].[CTPHIEUDOITRA]  WITH CHECK ADD FOREIGN KEY([MaPhieuDT])
REFERENCES [dbo].[PHIEUDOITRA] ([MaPhieuDT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPHIEUDOITRA]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CTPHIEUGIAOHANG]  WITH CHECK ADD FOREIGN KEY([MaPhieuGH])
REFERENCES [dbo].[PHIEUGIAOHANG] ([MaPhieuGH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPHIEUGIAOHANG]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CTPHIEUGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUGIAOHANG_CTHD_MaCTHD] FOREIGN KEY([MaCTHD])
REFERENCES [dbo].[CTHD] ([MaCTHD])
GO
ALTER TABLE [dbo].[CTPHIEUGIAOHANG] CHECK CONSTRAINT [FK_CTPHIEUGIAOHANG_CTHD_MaCTHD]
GO
ALTER TABLE [dbo].[CTPHIEUXUATKHO]  WITH CHECK ADD  CONSTRAINT [FK_CTPXK_PhieuXK] FOREIGN KEY([MaPhieuXK])
REFERENCES [dbo].[PHIEUXUATKHO] ([MaPhieuXK])
GO
ALTER TABLE [dbo].[CTPHIEUXUATKHO] CHECK CONSTRAINT [FK_CTPXK_PhieuXK]
GO
ALTER TABLE [dbo].[CTPHIEUXUATKHO]  WITH CHECK ADD  CONSTRAINT [FK_CTPXK_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CTPHIEUXUATKHO] CHECK CONSTRAINT [FK_CTPXK_SanPham]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CHITETTRANO]  WITH CHECK ADD FOREIGN KEY([MaCongNo])
REFERENCES [dbo].[CONGNO] ([MaCongNo])
GO
ALTER TABLE [dbo].[CHITETTRANO]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[CHITETTRANO]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[CHITIET_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_KHUYENMAI_HOADON] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIET_KHUYENMAI] CHECK CONSTRAINT [FK_CHITIET_KHUYENMAI_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_KHUYENMAI_KHUYENMAI] FOREIGN KEY([MaKhuyenMai])
REFERENCES [dbo].[KHUYENMAI] ([MaKhuyenMai])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIET_KHUYENMAI] CHECK CONSTRAINT [FK_CHITIET_KHUYENMAI_KHUYENMAI]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TAIKHOAN] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[KHUYENMAI_DOITUONG]  WITH CHECK ADD FOREIGN KEY([MaKhuyenMai])
REFERENCES [dbo].[KHUYENMAI] ([MaKhuyenMai])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHUYENMAI_DOITUONG]  WITH CHECK ADD FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[LOAISANPHAM] ([MaLoaiSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHUYENMAI_DOITUONG]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LICHHENTRANO]  WITH CHECK ADD  CONSTRAINT [FK_LICHHENTRANO_CONGNO] FOREIGN KEY([MaCongNo])
REFERENCES [dbo].[CONGNO] ([MaCongNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LICHHENTRANO] CHECK CONSTRAINT [FK_LICHHENTRANO_CONGNO]
GO
ALTER TABLE [dbo].[LICHSUGIA]  WITH CHECK ADD  CONSTRAINT [FK_LSG_NV] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[LICHSUGIA] CHECK CONSTRAINT [FK_LSG_NV]
GO
ALTER TABLE [dbo].[LICHSUGIA]  WITH CHECK ADD  CONSTRAINT [FK_LSG_SP] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[LICHSUGIA] CHECK CONSTRAINT [FK_LSG_SP]
GO
ALTER TABLE [dbo].[LICHSUGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUGIAOHANG_PHIEUGIAOHANG] FOREIGN KEY([MaPhieuGH])
REFERENCES [dbo].[PHIEUGIAOHANG] ([MaPhieuGH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LICHSUGIAOHANG] CHECK CONSTRAINT [FK_LICHSUGIAOHANG_PHIEUGIAOHANG]
GO
ALTER TABLE [dbo].[LICHSUHOADON]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUHOADON_HOADON] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LICHSUHOADON] CHECK CONSTRAINT [FK_LICHSUHOADON_HOADON]
GO
ALTER TABLE [dbo].[LICHSUPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PHIEUNHAP] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[LICHSUPHIEUXUATKHO]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUPHIEUXUATKHO_PHIEUXUATKHO] FOREIGN KEY([MaPhieuXK])
REFERENCES [dbo].[PHIEUXUATKHO] ([MaPhieuXK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LICHSUPHIEUXUATKHO] CHECK CONSTRAINT [FK_LICHSUPHIEUXUATKHO_PHIEUXUATKHO]
GO
ALTER TABLE [dbo].[LICHSUTHANGHANG]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUTHANGHANG_KHACHHANG] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LICHSUTHANGHANG] CHECK CONSTRAINT [FK_LICHSUTHANGHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[NHACUNGCAP_SANPHAM]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNhaCungCap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHACUNGCAP_SANPHAM]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TAIKHOAN] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[NHANVIEN_MODULE_QUYEN]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHATKY]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TAIKHOAN] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[QUYEN] ([MaQuyen])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VAITRO] ([MaVaiTro])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUDOITRA]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[PHIEUDOITRA]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NHACUNGCAP] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEUTRAHANG_NCC]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEUTRAHANG_NCC]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PHIEUNHAP] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[LOAISANPHAM] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VAITRO] ([MaVaiTro])
GO
ALTER TABLE [dbo].[VAITRO_MODULE_QUYEN]  WITH CHECK ADD  CONSTRAINT [FK_VAITRO_MODULE_QUYEN_VAITRO] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VAITRO] ([MaVaiTro])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VAITRO_MODULE_QUYEN] CHECK CONSTRAINT [FK_VAITRO_MODULE_QUYEN_VAITRO]
GO
ALTER TABLE [dbo].[CONGNO]  WITH CHECK ADD CHECK  (([SoTienConLai]>=(0)))
GO
ALTER TABLE [dbo].[CONGNO]  WITH CHECK ADD CHECK  (([SoTienDaTra]>=(0)))
GO
ALTER TABLE [dbo].[CONGNO]  WITH CHECK ADD CHECK  (([SoTienNo]>=(0)))
GO
ALTER TABLE [dbo].[CT_PHIEUTRAHANG_NCC]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CT_PHIEUTRAHANG_NCC]  WITH CHECK ADD CHECK  (([SoLuongTra]>(0)))
GO
ALTER TABLE [dbo].[CT_PHIEUTRAHANG_NCC]  WITH CHECK ADD CHECK  (([ThanhTien]>=(0)))
GO
ALTER TABLE [dbo].[CTKHOHANG]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[CTKHOHANG]  WITH CHECK ADD CHECK  (([SoLuongNhap]>=(0)))
GO
ALTER TABLE [dbo].[CTKHOHANG]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD CHECK  (([SoLuongDaNhan]>=(0)))
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD CHECK  (([ThanhTien]>=(0)))
GO
ALTER TABLE [dbo].[CTPHIEUDOITRA]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CTPHIEUDOITRA]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[CTPHIEUDOITRA]  WITH CHECK ADD CHECK  (([ThanhTien]>=(0)))
GO
ALTER TABLE [dbo].[CTPHIEUGIAOHANG]  WITH CHECK ADD CHECK  (([SoLuongGiao]>(0)))
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD CHECK  (([GiamGia]>=(0)))
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD CHECK  (([ThanhTien]>=(0)))
GO
ALTER TABLE [dbo].[CHITETTRANO]  WITH CHECK ADD CHECK  (([SoTien]>(0)))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([GiamGia]>=(0)))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([ThanhToan]>=(0)))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  (([Email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  ((NOT [Sdt] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[NHACUNGCAP]  WITH CHECK ADD CHECK  (([Email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([Email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  ((NOT [Sdt] like '%[^0-9]%' AND len([Sdt])>=(10)))
GO
ALTER TABLE [dbo].[PHIEUDOITRA]  WITH CHECK ADD CHECK  (([TongTienHoan]>=(0)))
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD CHECK  (([ThanhToan]>=(0)))
GO
ALTER TABLE [dbo].[PHIEUTRAHANG_NCC]  WITH CHECK ADD CHECK  (([TongTienHoan]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([GiaBan]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([GiaNhap]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([MucTonToiThieu]>=(0)))
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD CHECK  (([Email] like '%_@__%.__%'))
GO
USE [master]
GO
